<h3>Login</h3>
<form is="loginForm">
    <input type="text" name="userName" placeholder="username" id="loginUserName">
    <input type="text" name="password" placeholder="password" id="loginpassword">
    <button>Login</button>
</form>
<h3>Sign up</h3>
<form is="signUpForm">
    <input type="text" name="userName" placeholder="username" id="signUpUserName">
    <input type="text" name="name" placeholder="name" id="signUpName">
    <input type="text" name="password" placeholder="password" id="signUpPassword">
    <button>Sign Up</button>
</form>